@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definicion de clases propias de CSS */

.br-2.animado{
    /* span */
    opacity: 0; /* Oculta la linea del medio para que se forme una cruz */
}

.br-1.animado{
    /* span */
    transform: rotate(45deg) translate(9px, 8px);
    transform-origin: 0% 100%;                      /* La linea produce un giro hacia la derecha */
}

.br-3.animado{
    /* span */
    transform: rotate(-45deg) translate(-6px, 8px);
    transform-origin: 0% 100%;                      /* La linea produce un giro hacia la izquierda */
}